BODY {
    background-color: lightsteelblue;
    border: 3px black;
    color: darkslategray;
    font-size: 20px;
}

H1 {
    text-align: center;
    border: 300px black;
    color: darkblue;
    font-size: 50;
}

#first {
    background-color: lightsteelblue;
}

img {
    box-sizing: border-box;
    flex-basis: 25%;
    height: auto;
    float: left;
}

#info {
    padding-top: 50px;
    box-sizing: border-box;
    flex-basis: 75%;
    font-size: 2vw;
    float: left;
    color: indigo;
    text-align: left;
    padding-left: 30px;
}

TABLE,
TH,
TD {
    border: 1px solid midnightblue;
    font-size: 1.8vw;
}

tr:nth-child(even) {
    background-color: orange;
    color: indigo;
}

tr:nth-child(odd) {
    background-color: indigo;
    color: orange;
}

H2 {
    text-align: center;
    color: blue;
    padding-top: 50px;
}

#education1 {
    padding-top: 100px;
}

#experience1 {
    padding-top: 50px;
}

#EDUCATION {
    text-align: left;
    background-color: indigo;
    color: orange;
    border: 2px solid black;
    margin: 40px;
    padding: 10px;
    font-size: 2.2vw;
    display: flex;
}

H3 {
    text-align: center;
    color: orange;
    border-left: solid 10px orange;
    border-right: solid 10px orange;
}

H4 {
    text-align: left;
    color: black;
}

#center {
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
}

#form {
    text-align: center;
    color: indigo;
}

#coding {
    text-align: left;
    border-radius: 50px 15px 15px 50px;
    border: 5px solid midnightblue;
    color: orange;
    background-color: indigo;
    padding-left: 10px;
    padding-right: 10px;
}

#skills {
    text-align: left;
    border-radius: 15px;
    border: 5px solid midnightblue;
    color: orange;
    background-color: indigo;
    padding-left: 10px;
    padding-right: 10px;
}

#sports {
    text-align: left;
    border-radius: 15px 50px 50px 15px;
    border: 5px solid midnightblue;
    color: orange;
    background-color: indigo;
    padding-left: 10px;
    padding-right: 10px;
}